body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16vw;
  font-weight: 500;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.62;
  margin: 0;
  background-color: #101010;
  overflow: hidden;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 8px 8px 0;
  z-index: 9;
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  animation: fadein 0.4s ease-in 1s forwards;
}

.buttons-wrapper {
  display: flex;
  height: 40px;
  min-width: 33%;
}

button {
  font-family: 'Work Sans', sans-serif;
  color: #a8a8a8;
  background: transparent;
  padding: 8px 12px 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button.empty {
  margin: 0 auto;
}

button.report {
  margin-left: auto;
}

button:not(.empty):hover {
  color: #f2f2f2;
}


button.report:focus {
  color: transparent;
}

button.empty {
  color: #101010;
  background: #f2f2f2;
}

button.hidden {
  opacity: 0;
  cursor: auto;
}

button[disabled],
button[disabled]:hover {
  color: #383838;
}

.disclaimer {
  pointer-events: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.disclaimer p {
  padding: 40px;
  width: 100%;
  max-width: 260px;
  color: #101010;
  font-size: 40px;
  background-color: #FAFAFA;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 48px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 48px -4px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 48px -4px rgba(0, 0, 0, 1);
  opacity: 0;

}


.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
}


.container.hover:hover p {
  animation: showhide 1.6s ease-in forwards;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;

  display: block;
}

.modal.hide {
  display: none;

}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 520px;
  background: #FAFAFA;
  font-size: 18px;
  padding: 40px;
  line-height: 1.2;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 52px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0.75;
  transition: opacity ease 0.2s;
}

.closeModal:hover {
  opacity: 1;

}

[data-w] {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  opacity: 0;
  animation: fadein 2s ease-in 0.8s forwards;
}

[data-splitting] {
  position: absolute;
}

.char {
  display: inline-block;
  background: #101010;
  color: #FAFAFA;
  will-change: transform;
}

.instance {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.instance.hide {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}


[data-1] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.8s infinite alternate forwards;
}

[data-2] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.4s infinite alternate forwards;
}

[data-3] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1s infinite alternate forwards;
}

[data-4] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.8s infinite alternate forwards;
}

[data-5] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.5s infinite alternate forwards;
}

[data-6] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.3s infinite alternate forwards;
}

[data-7] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.1s infinite alternate forwards;
}

[data-8] .char[style="--char-index:0;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.3s infinite alternate forwards;
}

[data-2] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.9s infinite alternate forwards;
}

[data-3] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.5s infinite alternate forwards;
}

[data-4] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.3s infinite alternate forwards;
}

[data-5] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1s infinite alternate forwards;
}

[data-6] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.8s infinite alternate forwards;
}

[data-7] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.6s infinite alternate forwards;
}

[data-8] .char[style="--char-index:1;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 0.5s infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.8s infinite alternate forwards;
}

[data-2] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.4s infinite alternate forwards;
}

[data-3] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2s infinite alternate forwards;
}

[data-4] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.8s infinite alternate forwards;
}

[data-5] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.5s infinite alternate forwards;
}

[data-6] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.3s infinite alternate forwards;
}

[data-7] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.1s infinite alternate forwards;
}

[data-8] .char[style="--char-index:2;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1s infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.3s infinite alternate forwards;
}

[data-2] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.9s infinite alternate forwards;
}

[data-3] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.5s infinite alternate forwards;
}

[data-4] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.3s infinite alternate forwards;
}

[data-5] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2s infinite alternate forwards;
}

[data-6] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.8s infinite alternate forwards;
}

[data-7] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.6s infinite alternate forwards;
}

[data-8] .char[style="--char-index:3;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 1.5s infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.8s infinite alternate forwards;
}

[data-2] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.4s infinite alternate forwards;
}

[data-3] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3s infinite alternate forwards;
}

[data-4] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.8s infinite alternate forwards;
}

[data-5] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.5s infinite alternate forwards;
}

[data-6] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.3s infinite alternate forwards;
}

[data-7] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.1s infinite alternate forwards;
}

[data-8] .char[style="--char-index:4;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2s infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 4.3s infinite alternate forwards;
}

[data-2] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.9s infinite alternate forwards;
}

[data-3] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.5s infinite alternate forwards;
}

[data-4] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.3s infinite alternate forwards;
}

[data-5] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3s infinite alternate forwards;
}

[data-6] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.8s infinite alternate forwards;
}

[data-7] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.6s infinite alternate forwards;
}

[data-8] .char[style="--char-index:5;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 2.5s infinite alternate forwards;
}

/***/

[data-1] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 4.8s infinite alternate forwards;
}

[data-2] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 4.4s infinite alternate forwards;
}

[data-3] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 4s infinite alternate forwards;
}

[data-4] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.8s infinite alternate forwards;
}

[data-5] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.5s infinite alternate forwards;
}

[data-6] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.3s infinite alternate forwards;
}

[data-7] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3.1s infinite alternate forwards;
}

[data-8] .char[style="--char-index:6;"] {
  transform: translateY(0);
  animation: move 12s ease-in-out 3s infinite alternate forwards;
}

@keyframes move {
  0% {
    transform: translateY(0)
  }

  25% {
    transform: translateY(-160%)
  }

  50% {
    transform: translateY(200%)
  }

  75% {
    transform: translateY(-160%)
  }

  100% {
    transform: translateY(200%)
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showhide {
  0% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}